html, body {
  margin:0px;
  height:100%;
}

.App {
  display: flex;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  background: #f8f9ff;
}

.grid-stack-item {
    background: #caf0f8;
      border-radius: 5px;
    
}

.grid-stack-item-content {
  display: flex;
  justify-content: center;
  background: #caf0f8;
  align-items: center;
  border-radius: 5px;
}

/*gridstack selectors */

[gs-id='Michael'] {
  background: blue;
}